.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  background:     
  linear-gradient(
    rgba(	0,0,0, .7),
    rgba(	0,0,0, .7)
  );
}

.listText {
  font-family: 'Play', sans-serif;
  margin: 20px;
  list-style: none;
}

.bioText {
  font-family: 'Play', sans-serif;
  margin: 20px;
}

#bodyTitle {
  font-size: 4rem;
}

.link {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.title2 {
  font-size: 1.5rem;
  text-align: center;
}

.rowItem {
  max-width: 75%;
}

img {
  height: 40%;
  width: 40%;
}