.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: 'Orbitron', sans-serif;
  background:     
  linear-gradient(
    rgba(	0,0,0, .7),
    rgba(	0,0,0, .7)
  );
}

section {
  font-family: 'Play', sans-serif;
  text-align: center;
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  text-align: justify;
}

h2 {
  text-align: center;
}

img {
  height: 40%;
  width: 40%;
}