.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  background:     
  linear-gradient(
    rgba(	0,0,0, .7),
    rgba(	0,0,0, .7)
  );
}

.rowNoBg {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.listText {
  font-family: 'Play', sans-serif;
  margin: 20px;
  list-style: none;
  font-size: 1rem;
}

.bioText {
  font-family: 'Play', sans-serif;
  margin: 20px;
}

#bodyTitle {
  font-size: 2rem;
  margin-left: 1rem;
}

.bioHeader {
  font-size: 1rem;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.link {
  text-decoration: underline;
  color: white;
}

.navLink {
  text-decoration: none;
  color: white;
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
  text-align: center;
}

.title2 {
  font-size: 1rem;
  text-align: center;
}

.rowItem {
  width: 75%;
}

.rowImgItem {
  margin-left: 5%;
  margin-right: 5%; 
}

img {
  height: 100%;
  width: 100%;
}

@media (min-width: 640px) {
  #bodyTitle  {
    font-size: 3rem;
  }
  .title {
    font-size: 2rem;
  }
  .title2 {
    font-size: 1.5rem;
  }
  .bioText {
    font-size: 1rem;
  }
  .listText {
    font-size: 1.2rem;
  }
  .bioHeader {
    font-size: 1.5rem;
  }
  .rowImgItem {
    max-width: 60%;
  }
  .navLink {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  #bodyTitle  {
    font-size: 2rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .title2 {
    font-size: 1.2rem;
  }
  .bioText {
    font-size: 1rem;
  }
  .bioHeader {
    font-size: 1rem;
  }
  .rowImgItem {
    max-width: 40%;
    min-width: 40%;
  }
}

@media (min-width: 1366px) {
  #bodyTitle  {
    font-size: 3rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .title2 {
    font-size: 1.2rem;
  }
  .bioText {
    font-size: 1rem;
  }
  .bioHeader {
    font-size: 1rem;
  }
}

@media (min-width: 2560px) {
  #bodyTitle  {
    font-size: 6rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .title2 {
    font-size: 2rem;
  }
  .bioText {
    font-size: 1.5rem;
  }
  .listText {
    font-size: 1.5rem;
  }
  .bioHeader {
    font-size: 2rem;
  }
}