#begin {
  color: white;
  text-decoration-line: none;
  font-family: 'Orbitron', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.center-item {
    max-width: 50%;
}